@tailwind base;
@tailwind components;
@tailwind utilities;

.height-screen {
  height: calc(100vh - 40px)
    /* 40px correspond au padding du layout : py-5 */
}

.slot-height {
  /* 100px correspond à la hauteur du header ; 
  24px correspond à la hauteur du footer ;
  40px correspond au padding du layout : py-5 ;
  20px correspond au padding du footer ;
  */
  height: calc(100vh - 100px - 24px - 40px - 20px)
}
